@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* =======================
    Common Css Part Start
  ======================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 50px 140px 0 140px;
}

a {
  text-decoration: none;
}

/* =======================
    Common Css Part End
  ======================== */


/* =======================
    Header Part Start
  ======================== */
.banner {
  padding: 150px 335px;
  background: url('../images/Banner\ Image.png');
  background-size: cover;
  background-position: center, ;
  border-radius: 16px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.overly {
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.banner h3 {
  color: #FFF;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 20px;
}

.banner h1 {
  color: #FFF;
  text-align: center;
  font-family: Merriweather;
  font-size: 52px;
  font-weight: 900;
}

/* =======================
    Header Part End
  ======================== */

/* =======================
    New Year Discount Part Start
  ======================== */
#new_year_off {
  margin: 120px 0;
}

.discount_details {
  width: 800px;
  margin: 0 auto;
}

.discount_text h2 {
  color: #F00;
  text-align: center;
  font-family: Inter;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 35px;
}

.discount_text h5 {
  color: #F00;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 15px;
}

.discount_text h3 {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 39px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.new_year_image {
  margin-top: 50px;
}

/* =======================
    New Year Discount Part End
  ======================== */

/* =======================
    New Year Party Part Start
  ======================== */
#party {
  margin-bottom: 120px;
}

.party_banner {
  padding: 0px 110px 60px;
  background: url('../images/Vectorrr.png');
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.party_overly {
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.party_details {
  padding-top: 80px;
}

.party_details h2 {
  color: #FFF;
  font-family: Merriweather;
  font-size: 56px;
  font-style: normal;
  font-weight: 900;
  line-height: 75px;
  letter-spacing: 6.04px;
  width: 562px;
  padding-bottom: 20px;
}

.party_details p {
  color: rgba(255, 255, 255, 0.80);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  width: 567px;
  padding-bottom: 30px;
}

.join_button {
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 8px 12px;
  border: .5px solid #757575;
  border-radius: 5px;
  margin-top: 20px;
  transition: all .3s ease;
}

.join_button:hover {
  border: 2px solid #757575;
}

.party_photo {
  padding-top: 30px;
  margin-left: 30px;
}

.party_photo img {
  width: 100%;
}

/* =======================
    New Year Party Part End
  ======================== */

/* =======================
    location Css Part Start
  ======================== */
  #location{
    margin-bottom: 120px;
    display: flex;
    justify-content: center;
  }
  
  .location_details{
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    padding: 100px 260px;
    text-align: center;
    border-radius: 15px;
  }  
  .location_details p{
    color: #070211;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 56px;
text-transform: capitalize;
  }
  .location_details p span{
    color: #F00;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 56px;
text-transform: capitalize;
  }
  .location_details p:nth-last-child(2){
    margin-bottom: 50px;
  }
  .location_details a{
    padding: 16px 30px;
    border-radius: 8px;
  background: #F00;
  color: #FFF;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
text-transform: uppercase;
  }

/* =======================
    location Css Part End
  ======================== */
/* =======================
    Common Css Part Start
  ======================== */
/* =======================
    Common Css Part End
  ======================== */
/* =======================
    Common Css Part Start
  ======================== */
/* =======================
    Common Css Part End
  ======================== */
/* =======================
    Common Css Part Start
  ======================== */
/* =======================
    Common Css Part End
  ======================== */
/* =======================
    Common Css Part Start
  ======================== */
/* =======================
    Common Css Part End
  ======================== */
/* =======================
    Common Css Part Start
  ======================== */
/* =======================
    Common Css Part End
  ======================== */
/* =======================
    Common Css Part Start
  ======================== */
/* =======================
    Common Css Part End
  ======================== */
/* =======================
    Common Css Part Start
  ======================== */
/* =======================
    Common Css Part End
  ======================== */
/* =======================
    Common Css Part Start
  ======================== */
/* =======================
    Common Css Part End
  ======================== */
/* =======================
    Common Css Part Start
  ======================== */
/* =======================
    Common Css Part End
  ======================== */
/* =======================
    Common Css Part Start
  ======================== */
/* =======================
    Common Css Part End
  ======================== */
/* =======================
    Common Css Part Start
  ======================== */
/* =======================
    Common Css Part End
  ======================== */